{% load static %} <!-- static 파일을 여기로 가져오라는 뜻 --> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- static 파일 안 css 안 style.css 가져오라는 뜻 -->
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <title>Static Practice</title>
</head>
<body>
    <div>Hello Static!!</div>
    <img src="{% static 'img/ping9.png' %}" width="30%">
</body>
</html>